{% extends "base.html" %}
{% block title %}
SF Status Check
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <a href="/search?order_no={{ order.Order_id }}" class="btn btn-outline-secondary">Search</a>
        </form>
    </div>
    <br>
    <table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Location</th>
            <th>Status</th>
            <th>Last update</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.Order_id }}</td>
                <td>{{ order.District }}</td>
                <td>
                    <form action="/update/">
                        <input type="hidden" name="id" value="{{ order.Order_id }}" />
                        <select name="status" id="status" class="form-control" value="{{ order.status }}">
                            <option value="Arranged">Arranged</option>
                            <option value="Packed">Packed</option>
                            <option value="Delivering">Delivering</option>
                            <option value="Arrived">Arrived</option>
                        </select>
                        <button type="submit" class="btn btn-outline-primary btn-sm">Update</button>
                    </form>
                </td>
                <td>#</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}